* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
body {
    margin: 0;
}

button {
    padding: 7px 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    border-color: rgba(0, 0, 0, 0.15);
    background: white;
    font-weight: 900;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.language {
    border-radius: 5px;
    font-size: 15px;
    padding: 1px 3px;
}
.contact {
    position: relative;
    right: 0;
    border-radius: 8px;
    padding: 5px;
    font-size: 22px;
    color: grey;
}
.logo {
    width: 80px;
}
.holder {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 90vh;
    position: relative;
}
.wrapper {
    margin: 0 auto;
    width: 80%;
    background-color: #f5f5dc70;
}
.button-holder-main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.button-holder-closing {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.textbox {
    display: flex;
    flex-direction: column;
    font-size: 27px;
    justify-content: space-between;
    height: 70vh;
}
.title {
    margin: 0 0 15px;
}
.subtitle {
    margin: 0 0 25px 100px;
}
.button {
    width: 200px;
    border-radius: 26px;
    margin-bottom: 40px;
    /*box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;*/
    box-sizing: border-box;
    text-decoration: none;
    /*transition: all 250ms;*/
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}
button:active {
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(1px);
}
.button-holder-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.container {
    padding: 0 7px;
}
.text {
    font-weight: 700;
    margin: 0 auto 50px;
    font-size: 25px;
}
.modal-holder {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(1 1 1 / 51%);
    transition: background-color .1s ease-in-out;
}
.modal-window {
    max-width: 80%;
    background: beige;
    min-height: 50%;
    top: 0;
    position: absolute;
    display: none;
    padding: 10px;
    margin-top: 10%;
    transition: display .3s ease-in-out;
}
.button-holder-modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modal-window-inner {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal-text {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 600;
}
.modal-btn {
    margin: 0;
}
.closing {
    padding: 5px 10px;
    border-radius: 8px;
    color: grey;
}
@media screen and (max-width: 1050px){
    .textbox {
        font-size: 27px;
    }
    .button {
        width: 250px;
        font-size: 28px;
    }
    .text {
        font-size: 30px;
    }
}

@media screen and (max-width: 850px) {
    .wrapper {
        width: 100%;
    }
    .logo {
        width: 100px;
    }
}
@media screen and (max-width: 650px) {
    .wrapper {
        width: 100%;
    }
    .textbox {
        font-size: 25px;
    }
    .text {
        font-size: 30px;
    }
}
@media screen and (max-width: 650px) {
    .modal-window {
        max-width: 95%;
    }
}
@media screen and (max-width: 380px) {
    .textbox {
        font-size: 25px;
    }
    .text {
        font-size: 27px;
    }
}
@media screen and (max-width: 360px) {
    .textbox {
        font-size: 25px;
    }

}